.about-portrait {
    max-width: 350px;
    max-height: 525px;
    width: 100%;
    border-radius: 10px;
}

.about-body {
    display: flex;
    padding: 1em;
    column-gap: 3em;
    justify-content: space-evenly;
}

.about-text {
    max-width: 50%;
}

@media screen and (max-width:775px) {
    .about-body {
        flex-wrap: wrap;
    }
    .about-text {
        max-width: 100%;
    }
}
