.home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 5em;
    padding: 1em;
}

.home-portrait {
    height: 100%;
    min-height: 500px;
    border-radius: 10px;
}

.home-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

