.experience-body {
    padding: 1em;
}

.experience-cards {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.experience-card {
    padding: 10px;
    max-width: 850px;
}

.experience-card-content {
    gap: 0.6em;
}

.experience-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

@media screen and (max-width:775px) {
    .experience-card {
        flex-wrap: wrap;
    }
}