.experience-body {
    padding: 1em;
}

.experience-cards {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.experience-card {
    min-height: 220px;
}

.experience-card-content {
    min-height: 220px;
    padding: 0.5em 0;
    max-width: 600px;
}

.experience-card-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.experience-image {
    width: 220px;
    height: 220px;
}

.enel-image {
    width: 220px;
}