.portfolio-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    align-items: center;
}

.portfolio-card {
    padding: 10px;
    max-width: 850px;
}

.portfolio-card-content {
    gap: 0.6em;
}
